.ostad-career {
  padding: 64px 0;
}
.ostad-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}
.ostad-expert-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 154.3%;
}
.live-course-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 45px;
}
.courses-list-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31.5px;
}
.bottom-border {
  border-bottom: 1px solid #eaecf0;
  margin-top: 5px;
}
/* Media Queries */
@media (max-width: 640px) {
  .courses-list-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
