.career-guide-card {
  background: #1d2939;
  border-radius: 4px;
  position: relative;
}
.career-guide-card-description-area {
  padding: 12px 16px;
  max-width: 100%;
}
.play-button-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.play-btn-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.expert-card-play-btn {
  outline: none !important;
  border: none !important;
  background: transparent;
}

.popup-video {
  position: absolute;
  top: 25%;
  left: 25%;
}

.popup-cross-btn {
  position: absolute;
  bottom: 97%;
  left: 98%;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.line {
  border-bottom: 1px solid #475467;
  margin: 8px 0;
}

.instructor-wrapper {
  display: flex;
  gap: 16px;
}
.instructor-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.instructor-expertise {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}
