.swiper-btns button {
  outline: none;
  border: none;
  background: transparent;
}

.expert-swiper-prev-btn,
.expert-swiper-next-btn {
  position: absolute;
  z-index: 10;
}

.expert-swiper-prev-btn {
  top: 43%;
  right: 0;
}
.expert-swiper-next-btn {
  z-index: 10;
  top: 43%;
  left: 0;
}

/* Media Queries */
@media (max-width: 640px) {
  .expert-swiper-prev-btn {
    bottom: -206px;
    right: 16px;
  }
  .expert-swiper-next-btn {
    bottom: -206px;
    left: 216px;
  }
}
