/* .slide-wrapper {
  position: relative;
} */

.slider-container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding-left: 80px !important;
  padding-right: 80px !important; */
}

.expert-area-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
.expert-title-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.expert-career-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
}

/* swiper css  */

.expertSwiper {
  /* padding-left: 49px;
  padding-right: 49px; */
  /* position: relative; */
}
/* .swiper-container {
  position: relative;
} */
