/* .slide-wrapper {
  position: relative;
} */

.slider-container {
  max-width: 1250px;
  margin: 0 auto;
  /* padding-left: 80px !important;
  padding-right: 80px !important; */
}

.expert-area-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
.expert-title-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.expert-career-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
}

/* swiper css  */

.expertSwiper {
  padding-left: 23px;
  padding-right: 23px;
  /* position: relative; */
}

/* .swiper-container {
  position: relative;
} */
.swiper-wrapper {
  margin-bottom: 50px;
}

/* pagination css  */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet {
  background: #d0d5dd;
  width: 8px;
  height: 8px;
}
.swiper-pagination-bullet-active {
  background: #ffab00;
  width: 12px;
  height: 12px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
  left: -83px;
  width: 100%;
}

/* Media Queries */
@media (max-width: 640px) {
  .expertSwiper {
    padding-right: 10px;
    padding-left: 10px;
  }
}
