/* Layout Styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

/* utilities  */
button {
  outline: none;
  cursor: pointer;
}
.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}
.text-white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}

.text-dark {
  color: #101828;
}
.bg-dark {
  background-color: #101828;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
