.join-comunity {
  background: #f9f9fa;
}
.join-comunity-inner {
  margin-bottom: 40px;
}
.join-comunity-wrapper {
  margin-top: 40px;
}

.join-comunity-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* swiper  */
/* custom css for grid  */
.swiper-grid-column > .swiper-wrapper {
  flex-direction: unset !important;
}

/* this line can be write in html too  */
.swiper-slide {
  margin-top: 50px !important;
}
