.course-card-wrapper {
  border: 1px solid #eaecf0;
  border-radius: 8px;
}
.card-inner-area {
  background: #1d2939;
}
.card-btn-area {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}
.batch-btn {
  padding: 4px 8px;
  background: #101828;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}
.batch-seat-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  background: #475467;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}
.course-card-description {
  padding: 8px 16px;
}

.course-descition-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 28px;
}
.description-card-pricing {
  background: #f9f9fa;
  padding: 12px 16px;
}
.course-details-btn {
  background: #eaecf0;
  border-radius: 6px;
  padding: 8.5px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.discount-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-decoration-line: line-through;
  color: #ff8c4b;
}
.final-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;

  color: #1d2939;
}
.description-card-pricing {
  display: flex;
  justify-content: space-between;
}
